<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties>
        <property name="jdbc.media.url" value="jdbc:mysql://10.51.12.86:3306?useUnicode=true&amp;characterEncoding=utf-8&amp;generateSimpleParameterMetadata=true&amp;autoReconnect=true"/>
        <property name="jdbc.media.username" value="itings"/>
        <property name="jdbc.media.password" value="itingspwd"/>
    </properties>
    <environments default="default">
        <environment id="default">
            <transactionManager type="JDBC"/>
            <dataSource type="org.rondobell.racailum.base.dao.HikariDataSourceFactoryForMybatis">
                <property name="poolName" value="slave"/>
                <property name="jdbcUrl" value="jdbc:mysql://10.51.12.86:3306?useUnicode=true&amp;characterEncoding=utf-8&amp;generateSimpleParameterMetadata=true&amp;autoReconnect=true"/>
                <property name="username" value="itings"/>
                <property name="password" value="itingspwd"/>
                <property name="maximumPoolSize" value="20"/>
                <property name="connectionTestQuery" value="SELECT 1"/>
                <property name="registerMbeans" value="true"/>
                <property name="dataSource.cachePrepStmts" value="true"/>
                <property name="dataSource.prepStmtCacheSize" value="250"/>
                <property name="dataSource.prepStmtCacheSqlLimit" value="2048"/>
                <property name="dataSource.useServerPrepStmts" value="true"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/MzMapper.xml"/>
    </mappers>
</configuration>